<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Helados</title>
</head>
<body>
    <h1>Lista de Helados</h1>
    <ul>
        <% helados.forEach(function(helado) { %>
            <li>
                <h2><%= helado.nombre %></h2>
                <p>Precio: $<%= helado.precio.toFixed(2) %></p>
                <p><%= helado.descripcion %></p>
                <% if (helado.imagen) { %>
                    <img src="<%= helado.imagen %>" alt="<%= helado.nombre %>">
                <% } else { %>
                    <!-- Aquí puedes poner la ruta de la imagen por defecto -->
                    <img src="/public/images/default.jpg" alt="Imagen por defecto">
                <% } %>
            </li>
        <% }); %>
    </ul>
    
</body>
</html>
