<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Heladería</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <form action="/buscar" method="get">
                <label for="busqueda"></label>
                <div class="busqueda"> <input type="search" id="busqueda" name="q" placeholder="Escribe tu búsqueda aquí" required>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button></div>
            </form>
          
        </div>
        <a href="#" class="burger-menu" >
            <i class="fas fa-bars"></i>
        </a>
    
    
        <nav class="links">
            
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="/register">Creá tu helado<i class="fa-regular fa-id-card"></i></a>
                    </li>
                    <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="/helados">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
                    <li><a href="/carrito" id="carrito-link">Carrito <span id="carrito-count">0</span></a></li>
                    <a href="/listado-helados">Editar</a>
                    <!-- Lista de productos en el carrito -->
                    <ul id="lista-carrito"></ul>
                </ul>
        </nav>
  
        </div>
    </header>
  
  <div id="helados-container">


    <img class="banner" src="/public/images/portada.jpg" alt="">
 
    <h2>Sabores</h2>
    <div class="caja-madre">

        <div class="caja-hija">
            <article>
                <img src="/public/images/chocolate.jpg" alt="" >
               
                <div class="precio"> <p><strong>$2.500</strong> </div>
                    <p>Chocolate</p>
                    <button class="comprar-btn">Comprar</button>
                    <button class="editar"> <a href="/src/views/listadoHelados.ejs"></a> Editar</button>
        </div>
        </article>

        <div class="caja-hija">
            <article>
                <img src="/public/images/crema-cookie.jpg" alt="">
                <div class="precio">  <p><strong>$2.000</strong> </div>
                <p>Crema Cookie</p>
                <button class="comprar-btn">Comprar</button>
                <button class="editar">Editar</button>
            </article>
        </div>
        <div class="caja-hija">
            <article>
                <img src="/public/images/dulcedeleche-granizado.jpg" alt="">
                <div class="precio"> <p><strong>$2.500</strong> </div>
                <p>Dulce de leche granizado</p>
                <button class="comprar-btn">Comprar</button>
                <button class="comprar-btn">Editar</button>
            </article>
        </div>

        <div class="caja-hija">
            <article>
                <img src="/public/images/tiramisu.jpg" alt="">
                <div class="precio"> <p><strong>$2.500</strong> </div>
                <p>Tiramisu</p>
                <button class="comprar-btn">Comprar</button>
                <button class="comprar-btn">Editar</button>
            </article>
        </div>
        <div class="caja-hija">
            <article>
                <img src="/public/images/marroc.jpg" alt="">
                <div class="precio"> <p><strong>$2.500</strong> </div>
                <p>Marroc</p>
                <button class="comprar-btn">Comprar</button>
                <button class="comprar-btn">Editar</button>
            </article>
        </div>

        <div class="caja-hija">
            <article>
                
                <img src="/public/images/cucurucho.jpg" alt="">
                <div class="precio"> <p><strong>$2.500</strong> </div>
                <p>Cucuruchos</p>
                <button class="comprar-btn">Comprar</button>
                <button class="comprar-btn">Editar</button>
            </article>
        </div>


        <% var defaultImage = "/public/images/default.jpg"; %>
        <% var chunkSize = 1; // Define el tamaño del grupo de productos por div %>
        <% var productosCount = productos.length; %>
        <% var chunksCount = Math.ceil(productosCount / chunkSize); %>
        <% for (var i = 0; i < chunksCount; i++) { %>
            <div class="caja-hija">
                <% var startIndex = i * chunkSize; %>
                <% var endIndex = Math.min(startIndex + chunkSize, productosCount); %>
                <% for (var j = startIndex; j < endIndex; j++) { %>
                    <% var producto = productos[j]; %>
                    <article class="producto">
                        <img src="<%= producto.imagen ? '/public/images/' + producto.imagen : defaultImage %>" alt="<%= producto.nombre %>">
                        <div class="precio">
                            <p><strong>$<%= producto.precio %></strong></p>
                            <% if (producto.descuento) { %>
                                <div class="descuento">
                                    <span><%= producto.descuento %> OFF</span>
                                </div>
                            <% } %>
                        </div>
                        <p><%= producto.nombre %></p>
                        <button class="comprar-btn">Comprar</button>

                        <button><a href="/editProduct">Editar</a></button>
                    </article>
                <% } %>
            </div>
        <% } %>
        
    </section>
  </div>

  <script src="/public/script.js"></script>
  <footer> <div class="copy"><p>&copy;1999-2023 HeladosLibres S.R.L.</p></div>
  </footer>
</body>
</html>
